.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.hh-skill-tag-list {
  padding-top: 4px;
  margin: 0;
  border: 0;
  outline: none;
  background: none;
  display: block;
  line-height: 2;
}

.hh-tag_inline {
  width: auto;
  margin: 0 8px 8px 0;
  display: inline-flex;
  max-width: 100%;
  border: 1px solid;
  border-color: #aabbca;
}

.skill_icon {
  display: inline-block;
  padding-left: 5px;
  line-height: 23px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-color: transparent;
  border-bottom-left-radius: 4px;
}

.hh-tag_inline.no {
  background-color: #eef1f7;
}

.hh-tag_inline.yes {
  background-color: #f0fbf3;
}

.hh-tag_inline.linkedin {
  border: 0px;
  background-color: #eef1f7;
}

._icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: no-repeat;
  background-position: 50%;
  vertical-align: middle;
}

._icon.v1 {
  background-image: url(https://i.hh.ru/css/globals/blocks/skills-verification-methods/skills-verification-methods/beginner-black__min_.svg);
}

._icon.v2 {
  background-image: url(https://i.hh.ru/css/globals/blocks/skills-verification-methods/skills-verification-methods/medium-black__min_.svg);
}

._icon.v3 {
  background-image: url(https://i.hh.ru/css/globals/blocks/skills-verification-methods/skills-verification-methods/advanced-black__min_.svg);
}

._icon.v4 {
  background-image: url(https://i.hh.ru/css/globals/blocks/skills-verification-methods/skills-verification-methods/medium-green__min_.svg);
}

._icon.linkedin {
  width: 24px;
  height: 24px;
  background-image: url(../../assests/images/skill.png);
}

.skill_text {
  padding: 0 11px;
  text-align: left;
  padding-left: 5px 
}

.skill_text_linkedin {
  padding: 0 11px;
  text-align: left;
  padding-left: 5px  
}

.competitive-sites-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Google Sans Regular";
}

.competitive-sites-inline > i {
  color: #868e96;
}

.competitive-sites-inline > i:hover {
  color: #645beb;
}

@media (min-width: 48em) {
  .hh-skill-tag-list {
    line-height: 1.7;
  }

  .skill_icon {
    line-height: 25px;
  }
}